body {
    background-image: url('ImagenDeFondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.h4 .parrafo{
    text-align: center;
}

.h1{
    color: #fff;

}

.navbar.navbar-expand-lg.bg-body-tertiary{
    background: rgb(179,1,255) !important;
    background: linear-gradient(347deg, rgba(179,1,255,1) 0%, rgba(75,0,130,1) 100%) !important;
    color: #fff;
}

.nav-link {
    color: #fff!important;
}

.footer {
    background: rgb(179,1,255) !important;
    background: linear-gradient(347deg, rgba(179,1,255,1) 70%, rgba(179,1,255,1) 70%);
}