
{% extends 'layout.html' %}

{% block content %}

{% load static %}
<img class= "logo" src={% static 'logoPortada.png' %} width="500px"; style=  "margin-left:20px"; "margin-top:100px"; >
<img src={% static 'Avatar.png' %} width="720px">



<h1 style="color:#ffff"; "margin-left:20px" >Mis Proyectos</h1>
    <div class="d-flex flex-wrap">
    {% for project in projects %}
    <div class="card col-md-3" style=" margin: 10px 10px 10px 10px;">
        <img src="{{project.image.url}}" class="card-img-top" alt="{{project.title}}">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.description}}</p>
            {% if project.url %}
                <a href="{{project.url}}" class="btn btn-primary">Link GitHub </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


