
{% extends 'layout.html' %}

{% block content %}

{% load static %}
<img class= "logo" src={% static 'logot.png' %} width="450px"; margin-left:"20px";vspace="20">
<img src={% static 'Avatar.png' %} width="700px">
<h1 style= "color:#ffff"; "align = center"; > Hi, I'm Diana Solarte</h1>
<h4 style= "color:#ffff">Full-Stack Development <br>@SolartenaDev</h4>

<h1 style= "color:#ffff">Mis Proyectos</h1>
    <div class="d-flex flex-wrap">
    {% for project in projects %}
    <div class="card col-md-3" style=" margin: 10px;">
        <img src="{{project.image.url}}" class="card-img-top" alt="{{project.title}}">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.description}}</p>
            {% if project.url %}
                <a href="{{project.url}}" class="btn btn-primary">Link GitHub </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


