body {
    background-image: url('ImagenDeFondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}


.h4 .parrafo{
    text-align: center;
}

.h1{
    color: #fff;

}

.navbar.navbar-expand-lg.bg-body-tertiary{
    background: rgb(179,1,255) !important;
    background: linear-gradient(347deg, rgba(179,1,255,1) 0%, rgba(75,0,130,1) 100%) !important;
    color: #fff;
}

.nav-link {
    color: #fff!important;
}

section.footer {
    margin-top: 100px;
    background: linear-gradient(90deg, rgba(179, 1, 255, 0.77) 0%, rgba(179, 1, 255, 0.7) 100%)!important;

}
div.container{
    float: left;
    margin-right: 10px;

}
i{
    color:#fff;
    font-size:30px;
    float: left;
    align-items: right;
    margin-right: 10px;
}
