{% load static %}

<section class = "footer">
    <div class="row">

      </div>
      <div class="row">
        <div class="col-12 col-md-6">
            <img class="img-fluid" style="margin-top:20px;" src ="{% static 'logofooter.png' %}"; width="500px" alt="">
        </div>
        <div class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-start justify-content-between">
          <a href="https://www.facebook.com/SolartenaDev" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://twitter.com/SolartenaDev" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.instagram.com/solartenadev/" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://github.com/DianaSolarte" target="_blank"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/diana-marcela-solarte-moreno-691492141/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
<h3 class = "copyright" style="color:#ffff; font-size: 15px; text-align: center;">Copyright 2023. Made by Diana Solarte (@SolartenaDEV)</h3>
</section>
