{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <div class="navbar-logo">
      <a class="navbar-brand" href="{% url 'home' %}"> <img src ="{% static 'logot.png' %}" width="60px" alt=""></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'skill:abilitys' %}">My Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:posts' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="">Contact</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-light btn-sm "href= "{% static 'CurrículumDianaSolarte.pdf' %}" target="_blanck" >Descargar CV</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-start justify-content-between">
      <a href="https://www.facebook.com/SolartenaDev" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://twitter.com/SolartenaDev" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.instagram.com/solartenadev/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://github.com/DianaSolarte" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/diana-marcela-solarte-moreno-691492141/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
  </nav>